.generic-content-container {
	
	/* This rule selects any paragraph elements that are nested within the element with this modifier. */
	p {
		line-height: 1.65;  /* no unit of measurement for this attribute */		
		margin: 1.8rem 0;
		
		/* Define a font size for small and larger screens. There is no default font size */
		/* defined above, so it defaults to 1rem.                                         */
		@mixin atSmall {
			font-size: 1.125rem;
		}
	}
	
	/* This rule selects any links within a paragraph element.  */
	/* This is formatted this way, so we don't have to use more */
	/* than 1 level of nesting.                                 */
	p a {
		font-weight: 700; /* A font-weight of 400 is considered normal */
		                  /* The orange color of the link will be defined globally in _global.css */
						  /* We always want links to be orange, but some may be bold, while other */
						  /* may be a different font weight, so keep the bold font weight for the */
						  /* specific paragraph here instead of defining it globally.             */
						  /* One of the BEM big ideas is to use very few global selectors, and to */
						  /* be very picky about what goes into _global.css                       */
	}
}